html {
  font-size: 16px;
}

body {
  margin: 0;
}

.nav {
  display: grid;
  grid-template-columns: 20% 80% 20%;
  background-color: black;
  padding: 1rem 2rem;
}

.nav > img {
  display: inline-block;
  max-width: 14rem;
}

.navLink {
}
